###> symfony/framework-bundle ###
/be-boilerplate/.env
/be-boilerplate/public/bundles/
/be-boilerplate/var/
/be-boilerplate/vendor/
/be-boilerplate/symfony.lock
/logs/
/.idea/
/be-boilerplate/.idea/
###< symfony/framework-bundle ###
